<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.bitcamp.home.board.BoardReplyDAOImp">
  		<select id="replyList" resultType="com.bitcamp.home.board.BoardReplyVO">
  			select num, content, userid, replydate from boardreply where no=#{no} order by num 
  		</select>
  		<insert id="replyInsert" parameterType="com.bitcamp.home.board.BoardReplyVO">
  			insert into boardReply(num, no, content, userid, ip)
			values(boardsq.nextval,#{no},#{content},#{userid},#{ip})
  		</insert>
  		<delete id="replyDelete">
  			delete from boardReply where num=#{param1} and userid=#{param2}
  		</delete>
  		<update id="replyUpdate">
  			update boardReply set content=#{content} where num=#{num} and userid=#{userid}
  		</update>
  </mapper>